<script> 
    function setEarthquake(eqData) {
        alert(JSON.stringify(eqData));
    }
</script>
I'm the handlebar panel that shows all the data
<div>Search Bar</div>

{{!-- Hide this until the user clicks on an earthquake --}}
{{#if eq}}
<div>EQ Data</div>
{{/if}}
{{!-- Hide this until the user logs in and clicks on an earthquake --}}
<div>Experience</div>