<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>Earthquakes Around the World</title>
  <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://js.arcgis.com/4.23/"></script>
</head>

<body>
  {{!-- <h1>Earthquakes around the World</h1> --}}
  {{!-- Add a nav bar with Home and Login Links --}}
  {{> nav-bar}}
  <div class="content">
    {{{body}}}
  </div>

</body>

</html>