<div class="row align-items-center login-page">
  <div class="col-md-4 ">

    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
      <div class="card-body login-form">
        <form>
          <div class="card-header text-dark bg-primary text-center">Login</div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email-login" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password-login" class="form-control" placeholder="Password">
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-primary text-center">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
      <div class="card-body signup-form">
        <form>
          <div class="card-header text-dark bg-primary text-center">Sign Up</div>
          <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-primary text-center">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<script src="./js/login.js"></script>