/* ESRI map css */
html,
body,
#viewDiv {
  padding: 3px;
  margin: 3px;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border: 10px;
  background-color: #703c3c;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-shadow: 2px 2px #68818d;
  font-weight: bold;
  text-align: center;
}

.card {
  margin: 15px;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.navbar {
  background-color: #c59c83;
  color: #984722;
  max-height: 65px;
}

.form-group {
  margin: 20px;
}

.login-page {
  background-image: url("../images/cracks-g05993db6a_1920.jpg"); 
  background-size: 100%;
  background-position: center;
  padding: 10px;
  margin: 10px;
}

.search {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.eq-heading {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.eq_data {
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}

.btn {
  background-color: #984722;
}