
/* ESRI map css */
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border: 10px;
  background-color: rgb(4, 8, 50);
  color: white;
}

h1 {
  text-shadow: 2px 2px red;
  font-weight: bold;
  text-align: center;
}

.card {
  margin-left: 15px;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.navbar {
  background-color: rgb(4, 8, 50);
  color: white;
  max-height: 65px;
}

.form-group {
  margin: 20px;
}

.login-page {
  background-image: url("../images/earthquake-gf2e055464_1920.jpg"); 
  background-size: 100%;
}

.search {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.eq-heading {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.eq_data {
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}
